  <% include ./partials/header %>


<div class="center-form">
  <form action="/short" method="POST" name="Enter_url_form">
     <ul>
        <li><h3>CutIT</h3><hr></li>
        <li><label>Original URL</label></li>
        <li><input type="text" name="original_url" autofocus/></li>
         <li><label>Custom URL </label></li>
        <li><input type="text" name="custom_url" autofocus/></li>
        <li><button>CutIT</button></li>
      </ul>
    </form>
</div>
 <% include ./partials/footer %>