  <% include ./partials/header %>



  <form action="/short" method="POST" name="Enter_url_form">
     
     <ul>
        <li><h3>CutIT</h3><hr></li>
        <li><label>Original URL</label></li>
        <li><input type="text" name="original_url" autofocus/></li>
         <li><label>Custom URL </label></li>
        <li><input type="text" name="custom_url" autofocus/></li>
        <li><button>CutIT</button></li>
      </ul>
    </form>
</div>

<div >
  <form id="feedback-form" action="/feedback" method="POST" name="feedback">
     
     <ul>
        <li><h2>Feedback</h2></li>
        <li><label>Name</label></li>
        <li><input type="text" name="name" autofocus/></li>

        <li><label>Email</label></li>
        <li><input type="text" name="email" autofocus/></li>
        
         <li><label>Feedback </label></li>
        <li><input type="text" name="feedback" autofocus/></li>
        <li><button>Send Feedback</button></li>
      </ul>
    </form>
</div>
  <% include ./partials/footer %>