<% include ./partials/header %>
<div class="center-form">
    <div class="form-field">
        <h3>CitIT<h3>
      </div>
      <div class="form-field">
        <center>
          <label>Genrated Successfully </label>
          <br>
        <label id="myInput">
           <%= url %> 
         </label>
           <br> <button onclick="myFunction()">Copy text</button> 
            <br>
           <br> <button onclick="openNav()">Feedback</button> 
        
          </center>
      </div>

  </div>

  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="center-form">
          <form action="/feedback" method="POST" name="feedback">
            <ul>
                <li><h2>Feedback</h2></li>
                <li><label>Name</label></li>
                <li><input type="text" name="name" autofocus/></li>
        
                <li><label>Email</label></li>
                <li><input type="text" name="email" autofocus/></li>
        
                 <li><label>Feedback </label></li>
                <li><input type="text" name="feedback" autofocus/></li>
                <li><button>Send Feedback</button></li>
              </ul>
            </form>
        </div>


    </div>
    
    <!-- Use any element to open the sidenav -->
    <!-- <span onclick="openNav()">open</span> -->
    
    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
      ...
    </div> 


 <script>
function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");
  
  console.log(copyText.value);
  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
} 

/* Open the sidenav */
function openNav() {
  document.getElementById("mySidenav").style.width = "100%";
}

/* Close/hide the sidenav */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
} 
    </script>

  <% include ./partials/footer %>