<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>CutIT</title>
  
  <script type="text/javascript" src="../assets/js/cutit.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../css/style.css"> 
</head>
<input type="hidden" id="myInput" value= <%= url %> >
<body class="centered-form">
  <div class="centered-form__form">
  
      <div class="form-field">
        <h3>CitIT<h3>
      </div>
      <div class="form-field">
        <center>
          <label>Genrated Successfully </label>
          <br>
        <label id="myInput">
           <%= url %> 
         </label>
           <br> <button onclick="myFunction()">Copy text</button> 
        </center>
      </div>

  </div>
 <script>
function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");
  
  console.log(copyText.value);
  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
} 
    </script>
  </body>
</html>
